body {
  margin: 0;
}

.wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.common-left {
  float: left;
}

.next-row {
  clear: both;
}
.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75{
    width: 75%;
}

.common-btn {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #d19c97;
  text-align: center;
  background-color: white;
  min-width: 50px;
  margin-right: 10px;
}

.common-btn span {
  font-size: 14px;
  font-weight: 800;
}
