body {
  font-family: "Poppins", sans-serif;
}
.logo h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}

.logo h1 span:first-of-type {
  padding: 0px 10px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #d19c97;
}

.search-product input {
  box-sizing: border-box;
  width: 70%;
  height: 40px;
  border-radius: 0px;
  padding: 10px;
  font-size: 18px;
  color: #666;
  border: 1px solid #ddd;
  border-right: none;
}

.search-product button {
  box-sizing: border-box;
  height: 40px;
  border-radius: 0;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #d19c97;
  background-color: #fff;
  margin-left: -6px;
}

.header {
  margin-top: 20px;
  min-height: 60px;
}

.selected-products {
  text-align: right;
}

.search-product input:focus {
  outline: none;
}

h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}

.list-header {
  background-color: #d19c97;
}

.list-header span {
  float: right;
  margin: 25px;
}

.banner-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
}

.banner-area li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
  font-weight: 300;
}

.banner-area ul li a {
  text-decoration: none;
  color: #333;
}

.shop-menu {
  /* width: 915px; */
  justify-content: space-between;
  /* border: 2px solid black; */
  display: flex;
}

.left-menu-list {
  width: 70%;
}

.right-menu-list {
  width: 30%;
  direction: rtl;
}

.shop-menu ul {
  display: flex;
  margin: px;
  padding: 0;
  list-style-type: none;
}

.shop-menu ul li {
  min-width: 75px;
  padding: 10px;
}

.shop-menu ul li a {
  padding: 18px;
  color: #333;
  text-decoration: none;
}

.shop-menu ul li a:hover {
  color: #d19c97;
}

/* MOST IMPORTANT ==> HOW TO CREATE A DROPDOWN WITHOUT JAVASCRIPT */
.dropdown-head:hover ul.dropdown {
  display: block;
  margin: 0px;
}

.shop-menu ul.dropdown {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ddd 1px 1px 4px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  position: relative;
  height: 400px;
  float: left;
  width: 100%;
  /* height: 100%; */
}
.banner-text a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px 15px;
}
.banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.29);
}

.banner-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}

.banner-text h3 {
  margin: 0;
  font-size: 50px;
}
